* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    /* cursor: ; */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 100;
}

#container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #13151f;
    background-image: radial-gradient(circle at right, #99f8ff, #007ea5, #004a61, transparent, transparent, transparent)
}

.star {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    mix-blend-mode: screen;
}

#star-count {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: #ffae80;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 15px #ffae80;
}

#submit {
    cursor: pointer;
    background-color: #97e1ff;
    border-radius: 2rem;
    border: 1px solid #6171ff;
    height: 1.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

#star-count input {
    background-color: #97e1ff;
    border-radius: 2rem;
    border: 1px solid #6171ff;
    height: 1.5rem;
    width: 3rem;
}